li {
	list-style: none;
}

p span {
	font-weight: bold;
}

.App {
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.users__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}

.user__item {
	max-width: 300px;
	padding: 10px 15px;
	border: 1px solid #000;
}
